<!-- Header -->
<div mat-dialog-title class="w-full flex justify-between">
    <span class="w-full text-2xl font-medium">Filter data</span>
    <button (click)="closeDialog()" mat-icon-button>
        <mat-icon svgIcon="mdi:close" />
    </button>
</div>

<mat-dialog-content class="border-t">
    <form [formGroup]="form" class="md-form-field-appearance-outline">

        <!-- <mat-form-field appearance="outline" class="w-full">
            <mat-label>The team</mat-label>
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'mat_outline:flag'"></mat-icon>
            <mat-select formControlName="working_group" placeholder="Select a team">
                <mat-option *ngFor=" let item of setup?.working_groups " [value]=" item.id ">
                    {{ item?.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Educational Institutions</mat-label>
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'mdi:building-line'"></mat-icon>
            <mat-select formControlName="school" placeholder="Choosing an educational institution">
                <mat-option *ngFor=" let item of setup?.schools" [value]=" item.id ">
                    {{ item.name_in_khmer }}
                </mat-option>
            </mat-select>
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Menu type</mat-label>
            <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:map-pin'"></mat-icon> -->
            <mat-select formControlName="productTypes" placeholder="Select menu type">
                <mat-option *ngFor=" let item of setup?.productTypes" [value]=" item.id ">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Data Entry</mat-label>
            <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'feather:check-square'"></mat-icon> -->
            <mat-select formControlName="users" placeholder="Select data entry">
                <mat-option *ngFor=" let item of setup?.users " [value]=" item.id ">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" class="w-full">
            <mat-label>Study Status</mat-label>
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'feather:user-check'"></mat-icon>
            <mat-select formControlName="scholarship_status" placeholder="Select study status">
                <mat-option *ngFor=" let item of setup?.scholarship_statuses " [value]=" item.id ">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field> -->

    </form>
</mat-dialog-content>

<mat-dialog-actions class="flex items-center justify-end">
    <button class="text-slate-800 gap-1" mat-stroked-button (click)="reset()">
        <mat-icon mat-icon-button [svgIcon]="'mdi:refresh'"/>
        <span>Clean up</span>
    </button>
    <button class="bg-blue-900 text-white gap-1" mat-flat-button (click)="submit()">
        <mat-icon mat-icon-button class="" [svgIcon]="'heroicons_outline:magnifying-glass'"/>
        <span>Search</span>
    </button>
</mat-dialog-actions>

